// :root{
//     $bgcolor:#fafafa;
//     $box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
// }
$bgcolor: #fafafa;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

.container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;

    .nav-routes {
        padding: 5px;
        background-color: $bgcolor;
        display: flex;
        column-gap: 10px;
        width: 90%;

        .routerlink {
            cursor: pointer;
        }
    }

    .product-container {
        display: flex;
        width: 90%;
        column-gap: 20px;

        .categories {
            min-width: 250px;
            max-width: 250px;
            display: flex;
            height: auto;
            box-shadow: $box-shadow;
            flex-direction: column;

            button {
                text-align: left;
                font-weight: bold;
                border: none;
                background-color: white;
                border-bottom: 1px solid #fafafa;
                padding: 10px;
                fa-icon {
                    float: right;
                }
            }
            .slide {
                width: 100%;
                overflow-y: scroll;
                text-align: center;
                background-color: white;
                transition: height .4s ease;
                ul{
                    list-style-type: none;
                    padding: 5px;
                    margin-top: 2px;
                }
                li{
                    text-align: left;
                    padding:5px;
                }
            }
            .categories:last-child {
                box-shadow: $box-shadow;
            }
        }

        .products {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .filter-options {
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: space-between;
                box-shadow: $box-shadow;

                button {
                    border: none;
                    padding: 10px;
                    background-color: white;
                    font-weight: bold;
                }
            }

            .allproducts {
                display: flex;
                flex-wrap: wrap;
                row-gap: 20px;
                column-gap: 20px;

                .itemcard {
                    // flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 200px;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 15px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                    img {
                        width: 100%;
                        height: 150px;
                        object-fit: contain;
                    }

                    .price-rating {
                        display: flex;
                        width: 100%;
                        padding-bottom: 10px;
                        justify-content: space-between;
                        border-bottom: 1px solid lightgrey;
                    }

                    .cart-btn {
                        display: flex;
                        width: 100%;
                        justify-content: space-evenly;

                        .icon-wrapper {
                            padding: 10px;
                            background-color: rgb(255, 255, 255);
                            border-radius: 50%;
                        }

                        fa-icon {
                            font-size: x-large;
                        }

                        .icon-wrapper:hover {
                            background-color: rgb(201, 200, 200);
                        }
                    }
                }
            }

            .page-section {
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: center;
                box-shadow: $box-shadow;
                button{
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
    .quickview{
        padding: 10px;
        width: 80%;
        z-index: 999;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        top:30%;
        left: 10%;
        background-color: #ffffff;
        column-gap: 15px;
        .item{
            flex:1;
        }
        .quickviewimg{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-width: 400px;
            max-width: 450px;
            row-gap: 10px;
            img{
                width:450px;
                height:320px;
                object-fit: contain;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            }
            
        }
        .details{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .color-size{
                display: flex;
                justify-content: space-between;
                .section{
                    display: flex;
                    column-gap: 5px;
                    align-items: center;
                    .icon-wrapper{
                        height:45px;
                        width: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }
                    .icon-wrapper:hover{
                        background-color: rgb(182, 178, 178);
                    }
                    fa-icon{
                        font-size: x-large;
                        color: grey;
                    }
                }
            }
        }
    }
    .msg{
        position: fixed;
        z-index: 2;
        width:20%;
        top:0;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        font-weight: bolder;
        text-align: center;
        box-shadow: $box-shadow;
    }
}