// :root{
//     $bgcolor:#fafafa;
//     $box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
// }
$bgcolor: #fafafa;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

.container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;

    .nav-routes {
        padding: 5px;
        background-color: $bgcolor;
        display: flex;
        column-gap: 10px;
        width: 90%;

        .routerlink {
            cursor: pointer;
        }
    }

    .product-container {
        display: flex;
        width: 90%;
        column-gap: 20px;

        .categories {
            min-width: 250px;
            max-width: 250px;
            display: flex;
            height: auto;
            box-shadow: $box-shadow;
            flex-direction: column;

            button {
                text-align: left;
                font-weight: bold;
                border: none;
                background-color: white;
                border-bottom: 1px solid #fafafa;
                padding: 10px;
                fa-icon {
                    float: right;
                }
            }
            .slide {
                width: 100%;
                overflow-y: scroll;
                text-align: center;
                background-color: white;
                transition: height .4s ease;
                ul{
                    list-style-type: none;
                    padding: 5px;
                    margin-top: 2px;
                }
                li{
                    text-align: left;
                    padding:5px;
                }
            }
            .categories:last-child {
                box-shadow: $box-shadow;
            }
        }

        .products {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .filter-options {
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: space-between;
                box-shadow: $box-shadow;

                button {
                    border: none;
                    padding: 10px;
                    background-color: white;
                    font-weight: bold;
                }
            }

            .allproducts {
                display: flex;
                flex-wrap: wrap;
                row-gap: 20px;
                column-gap: 20px;

            }

            .page-section {
                display: flex;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                box-shadow: $box-shadow;
                button{
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}