<div class="container">
    <div class="nav-routes">
        <fa-icon icon="home"></fa-icon>
        <p class="routerlink" [routerLink]="'/'">Homepage</p>
        <fa-icon icon="angle-double-right"></fa-icon>
        <p class="routerlink" [routerLink]="'/allproduct'">Allproducts</p>
        <fa-icon icon="angle-double-right"></fa-icon>
    </div>
    <div class="product-container">
        <div class="categories">
            <button (click)="showslide()">CATEGORIES<fa-icon icon="angle-down"></fa-icon></button>
            <div [ngStyle]="showcat?{'height':'200px'}:{'height':'0px'}" class="slide">
                <ul>
                    <li>All Categories</li>
                    <li>Fashion</li>
                    <ul>
                        <li>women</li>
                        <ul>
                            <li>dresses & skirts</li>
                            <li>jackets</li>
                            <li>tops & blouses</li>
                            <li>shoes & boots</li>
                            <li>knitwear</li>
                        </ul>
                    </ul>
                    <ul>
                        <li>men</li>
                        <ul>
                            <li>t-Shirts & polos</li>
                            <li>tops & blouses</li>
                            <li>jeans</li>
                            <li>coats</li>
                        </ul>
                    </ul>
                </ul>
            </div>
            <button>PRIZE<fa-icon icon="angle-down"></fa-icon></button>
            <button>COLOR<fa-icon icon="angle-down"></fa-icon></button>
            <button>SIZE<fa-icon icon="angle-down"></fa-icon></button>
            <button>CONDITION<fa-icon icon="angle-down"></fa-icon></button>
            <button>BRANDS<fa-icon icon="angle-down"></fa-icon></button>
            <button>NOW STARTING AT $1379<fa-icon icon="angle-down"></fa-icon></button>
        </div>
        <div class="products">
            <div class="filter-options">
                <div>
                    <button>Sort by Default</button>
                </div>
                <div>
                    <button>show12</button>
                </div>
            </div>
            <div class="allproducts">
                <ng-container *ngFor="let item of itemlist$ | async">
                    <app-itemcard [item]="item"></app-itemcard>
                </ng-container>   
            </div>
            <div class="page-section">
                <button>Prev</button>
                <p>1</p>
                <p>2</p>
                <button>Next</button>

            </div>
            
        </div>
    </div>
</div>
