$bgcolor: #fafafa;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

::ng-deep.holiday {
    border: dashed;
    border-radius: 100%;
}

// //input outline color --CHANGE THIS CHANGINE THE OUTLINE OF INPUT FIELD
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: green;
    // opacity: 1!important;
}

::ng-deep .mat-form-field-flex {
    margin-top: 0px !important;
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 65px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
}

:host::ng-deep .mat-form-field-label {
    top: 38px;
    left: 14px;
}
:host::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline{
    color:tomato;
}

:host::ng-deep .mat-datepicker-toggle {
    position: absolute;
    bottom: 23px;
    right: 0px;
}

:host::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: green;
}

:host::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: green;
}
//  for tooltip
::ng-deep .tooltip:not(.mat-calendar-body-selected):not(.mat-calendar-body-today) {
    border-color: rgba(0,0,0,.38);
    border-radius: 5px;
    border-style: dashed;
 }

// tooltip tooltip text
 ::ng-deep .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     color: #897e7e;
     background-color: #fff;
     box-shadow: 0px 0px 8px 1px rgb(188, 187, 187);
     font-family: "Trirong", serif;
     font-weight: 600;
     text-align: center;
     padding: 10px 0;
     position: absolute;
     z-index: 1;
     bottom: 120%;
     margin-left: -60px;
     left: 50%;
 }
//  tooltip arrow down
 ::ng-deep .tooltip:hover::after {
     content: "";
     z-index: 2;
     position: absolute;
     top: -25%;
     left: 50%;
     margin-left: -8px;
     border-width: 8px;
     border-style: solid;
    border-color: white transparent transparent transparent;
 }
 ::ng-deep .tooltip:hover .tooltiptext {
     visibility: visible;
 }
// for calender
::ng-deep .mat-calendar-body-label{
    opacity: 0;
}
::ng-deep .mat-calendar-body-label[colspan="7"] {
    display: none;
}
::ng-deep mat-year-view .mat-calendar-body-label[colspan="4"]{
    display: none;
}
// changin the year view
::ng-deep mat-multi-year-view {
    --mat-datepicker-calendar-date-focus-state-background-color:white;
    .mat-calendar-body-disabled{
        display: none;
    }
    table{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 228px;
       
    }
    .mat-calendar-body-cell:not(.mat-calendar-body-active){
        background-color: white;
        color:black;
        border-radius:5px;
    }
    table tbody{ 
        tr:nth-child(1){
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-left: 15%;
            margin-top: 45%;
            width: 100%;
            height: auto;
            td{
                height:20px;
              
                button{
                    width: 150px;
                  
                }
                button:not( .mat-calendar-body-active){
                    span:is(.mat-calendar-body-cell-content.mat-focus-indicator){
                        background-color: white;
                        color: black; //
                        border-radius: 5px;  
                    }
                }
                .mat-calendar-body-cell-preview{
                    display: none;
                }
                button:is(.mat-calendar-body-active){
                    border-radius: 5px;
                    background-color: grey;
                    color: white;
                    .mat-calendar-body-cell-content{
                        color:rgb(255, 255, 255);
                    }
                    span:is(.mat-calendar-body-today:not(.mat-calendar-body-selected)){
                        background-color: white;
                        color:black;
                    }
                    span:hover{
                        color: white !important;
                    }
                    span:not(.mat-calendar-body-selected){
                        background-color: rgb(255, 255, 255);
                        color:black;
                        border-radius: 5px;
                    }
                   
                }
            
            }
            
        }
        tr:nth-child(2){
            display: none;
        }
        tr:nth-child(3){
            display: none;
        }
        tr:nth-child(4){
            display: none;
        }
        tr:nth-child(5){
            display: none;
        }
        tr:nth-child(6){
            display: none;
        }
    }
    
}
// changing the month view
::ng-deep mat-year-view{
    --mat-datepicker-calendar-date-focus-state-background-color:white;
    .mat-calendar-body-cell-content{
        background-color: white;
        border-radius: 5px;
    }
    table{
        column-span: 3;
    }

}
::ng-deep .mat-calendar-controls{
    background: #084368;
    border-radius: 3px;
    color: white;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    height: 35px;
    box-sizing: border-box;
    .mat-calendar-arrow {
        fill: white;
        // display: none;
    }
    .mat-calendar-spacer {
        display: none;
    }
    .mat-calendar-period-button{
        color: rgb(179, 255, 0);
    }
    .mdc-button{
        line-height: 3px;
        letter-spacing: 0px;
        width: 100px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        height:30px;
    }
    
}
::ng-deep .mat-calendar-controls button{
    display: flex !important;
     color: white !important;
}
::ng-deep .mat-calendar-controls button::after{
    margin: 10.5px;
}
::ng-deep .mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base{
    background-color:#032d48 ;
    height:30px !important;
    width: 30px !important;
}
// setting the clander body background
::ng-deep mat-month-view{
     --mat-datepicker-calendar-date-focus-state-background-color:transparent;
}
::ng-deep .mat-calendar-table {
    background-color:rgb(246, 244, 244);
    border-radius: 5px;
    border-spacing: 0px;
    .mat-calendar-table-header{
        background: #fff;
    }
    .mat-calendar-table-header-divider{
        display: none;
    }
    .mat-calendar-body{
        perspective: 1px;
        border-spacing: 0px !important;
        border-collapse: separate!important;
        .mat-calendar-body-active{
            color: white;
        }
        .mat-calendar-body-selected{
            --mat-datepicker-calendar-date-focus-state-background-color:#032d48;
            color: white;
        }  
        .mat-calendar-body-cell{
            background-color: rgb(246, 244, 244);
            
        }  
        .mat-calendar-body-cell-content {
            border-radius: 5px;
        }
    }
    
}
// when hovering
::ng-deep .mat-calendar-content .mat-calendar-body-cell:hover{
    --mat-datepicker-calendar-date-hover-state-background-color:#032d48;
    border-radius: 5px;
    .mat-calendar-body-cell-content.mat-focus-indicator{
        background-color:#032d48;
        border-radius: 5px;
        color: white;
    }   
}

::ng-deep .mat-calendar-content .mat-calendar-body-today,.mat-calendar-content .mat-calendar-body-active{
    border: none;
    border-radius: 5px;
}
::ng-deep .mat-calendar-content .mat-calendar-body-selected{
    --mat-datepicker-calendar-date-hover-state-background-color:#032d48;
    background-color:#032d48  ;
    border-radius: 5px;
    color: white; 
}
::ng-deep .mat-calendar-controls .mat-mdc-icon-button {
    border-radius: 5px;
}
::ng-deep .mat-datepicker-content .mat-calendar {
    height:auto !important;
}

::ng-deep.monthlabel{
    display: flex;
    text-align: right;
    width: 100% !important;
    justify-content: flex-end;  
    box-sizing: border-box; 
    color: #fff;
 
}
// till this


.container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;

    .nav-routes {
        padding: 5px;
        background-color: $bgcolor;
        display: flex;
        column-gap: 10px;
        width: 90%;

        p {
            cursor: pointer;
        }
    }

    .form-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        .form-headings {
            display: flex;

            button {
                display: flex;
                flex: 1;
                padding: 20px;
                border: none;
                background-color: white;
                align-items: center;

                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    color: white;
                    background-color: green;
                }
            }

            button:hover {
                background-color: #fafafa;
            }
        }

        .checkout-section {
            margin: 15px;
            padding: 10px;
            display: flex;

            .navbtnpanel {
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 10px;
                justify-content: center;

                .nextbn {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    border-radius: 50%;
                    box-shadow: $box-shadow;
                    background-color: green;

                    fa-icon {
                        font-size: medium;
                        color: white;
                    }
                }
                .proceedbtn{
                    height: 30px;
                    border: none;
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    background-color: green;
                    box-shadow: $box-shadow;
                    font-weight: bold;
                    color: white;
                    border-radius: 3px;
                }

                .nextbn:disabled {
                    background-color: rgb(215, 215, 215);
                }

            }

            .billing-address {
                display: flex;
                flex-direction: column;
                padding: 10px;
                row-gap: 20px;
                column-gap: 10px;

                form {
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    flex-wrap: wrap;
                    column-gap: 10px;
                    row-gap: 20px;

                    .row1 {

                        border-radius: 3px;
                        flex: 1;
                        height: 65px;
                        min-width: 300px;
                        box-sizing: border-box;

                        mat-form-field {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;

                            input {
                                padding: 15px;
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }
                    }

                    .row2 {
                        position: relative;
                        border-radius: 3px;
                        flex: 1;
                        min-width: 200px;
                        height: 65px;
                        box-sizing: border-box;
                        mat-form-field {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            input {
                                padding: 15px;
                                width: 100%;
                                box-sizing: border-box;
                            }

                            mat-select {
                                padding: 13px;
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }

                        .danger {
                            outline: 1px solid tomato;
                        }

                    }

                    .row3 {
                        border-radius: 3px;
                        flex: 1 100%;
                        height: 65px;
                        box-sizing: border-box;

                        mat-form-field {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;

                            input {
                                padding: 15px;          
                                width: 100%;
                                box-sizing: border-box;
                            }

                            mat-select {
                                padding: 13px;
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }


                    }

                    input {
                        padding: 15px;
                        width: 100%;
                        border: none;
                        border-radius: 3px;
                        box-sizing: border-box;
                    }
                    .danger {
                        outline: 1px solid tomato;
                    }

                    .dropdown {
                        position: absolute;
                        top: 45px;
                        display: flex;
                        width: 100%;
                        height: 200px;
                        overflow-y: scroll;
                        flex-direction: column;
                        box-shadow: $box-shadow;
                        border-radius: 3px;
                        z-index: 10;

                        button {
                            text-align: left;
                            background-color: white;
                            width: 100%;
                            padding: 10px;
                            border: none;
                        }

                        button:hover {
                            background-color: #fafafa;
                        }
                    }

                    .dropdown::-webkit-scrollbar {
                        width: 8px;
                        background-color: grey;
                    }

                    .invalid-msg {
                        width: 100%;
                        float: left;
                        color: tomato;
                        font-size: small;
                        font-weight: lighter;
                    }
                }


            }

            .delivery-method {
                display: flex;
                width: 100%;
                flex-direction: column;
                row-gap: 20px;

                form {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    box-sizing: border-box;
                    .mat-radio-button {
                        display: block;
                        margin: 20px;
                    }

                    mat-form-field {
                        width: 200px;
                        height: 100%;
                        box-sizing: border-box;
                    }
                    .date-picker {
                        margin-top: 0px;
                        margin-left: 25px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 0px;
                        margin-bottom: 10px;
                        height: 65px;
                        width: 200px;
                        p{
                            font-size: smaller;
                            margin-bottom: 0px;
                        }
                        input {
                            box-sizing: border-box;
                            padding: 15px;
                        }
                    }
                }
                .danger {
                    outline: 1px solid tomato;
                }

                .invalid-msg {
                    width: 100%;
                    float: left;
                    color: tomato;
                    font-size: small;
                    font-weight: lighter;
                }
            }

            .payment {
                display: flex;
                flex-direction: column;
                width: 100%;

                form {
                    display: flex;
                    width: 100%;
                    column-gap: 10px;
                    row-gap: 20px;
                    flex-wrap: wrap;

                    input {
                        width: 100%;
                        padding: 15px;
                        border: none;
                        box-sizing: border-box;
                    }

                    .credit-card {
                        flex: 1 100%;
                    }

                    .row1 {
                        flex: 1 500px;
                        box-sizing: border-box;
                        height: 65px;

                        mat-form-field {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            input {
                                padding: 15px;
                                width: 100%;
                                box-sizing: border-box;
                            }
                            mat-select {
                                padding: 13px;
                                width: 100%;
                                box-sizing: border-box;
                            }
                        }
                    }

                    .row2 {
                        position: relative;
                        flex: 1;
                        min-width: 300px;
                        box-sizing: border-box;
                        height: 65px;

                        mat-form-field {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;

                            input {
                                padding: 15px;
                                width: 100%;
                                box-sizing: border-box;
                            }

                            mat-select {
                                padding: 13px;
                                width: 100%;
                                box-sizing: border-box;
                            }

                        }
                    }

                    .dropdown {
                        position: absolute;
                        top: 45px;
                        display: flex;
                        width: 100%;
                        height: 200px;
                        overflow-y: scroll;
                        flex-direction: column;
                        box-shadow: $box-shadow;
                        border-radius: 3px;
                        z-index: 10;

                        button {
                            text-align: left;
                            background-color: white;
                            width: 100%;
                            padding: 10px;
                            border: none;
                        }

                        button:hover {
                            background-color: #fafafa;
                        }
                    }

                    .dropdown::-webkit-scrollbar {
                        width: 8px;
                        background-color: grey;
                    }

                    .danger {
                        outline: 1px solid tomato;
                    }

                    .invalid-msg {
                        width: 100%;
                        float: left;
                        color: tomato;
                        font-size: small;
                        font-weight: lighter;
                    }
                }
            }

            .review {
                display: flex;
                width: 100%;
                flex-direction: column;
                row-gap: 20px;

                .heading {
                    flex: 1 100%;
                    font-weight: bold;
                    font-size: large;
                    border-bottom: 1px solid grey;
                    opacity: 0.5;
                }

                .column {
                    flex: 1;

                    p {
                        padding: 10px;
                    }
                }

                .shopping-cart {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .heading-panel {
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: 1px solid grey;
                    }

                    .items-panel {
                        padding: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: 1px solid grey;

                        img {
                            height: 50px;
                            width: 50px;
                            object-fit: contain;
                        }
                    }
                }

                .billing-info {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    width: 100%;

                    .address-panel {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid grey;

                        .column {
                            flex: 1;
                            min-width: 200px;
                        }
                    }

                }

                .grandtotal {
                    font-weight: bold;
                    font-size: xx-large;
                    text-align: center;
                }

            }

            .confirm {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 20px;

                fa-icon {
                    color: green;
                    font-weight: bold;
                    font-size: 8ch;

                }

                button {
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: green;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}