<div class="container">
    <div class="nav-routes">
        <fa-icon icon="home"></fa-icon>
        <p [routerLink]="'/'">Homepage</p>
        <fa-icon icon="angle-double-right"></fa-icon>
        <p>Allproducts</p>
        <fa-icon icon="angle-double-right"></fa-icon>
        <p>Checkout</p>
    </div>
    <div class="form-container">
        <div class="form-headings">
            <button [disabled]="!billing" (click)="gotobilling()"><span [ngStyle]=" !billing ?{'background-color':'lightgrey'}:{'background-color':'green'}" class="number">1</span>BILLING ADDRESS</button>
            <button  (click)=" gotodelivery()"><span [ngStyle]=" !delivery ?{'background-color':'lightgrey'}:{'background-color':'green'}" class="number">2</span>DELIVERY METHOD</button>
            <button [disabled]="!payment" (click)="gotopayment()"><span [ngStyle]="!payment ?{'background-color':'lightgrey'}:{'background-color':'green'}" class="number">3</span>PAYMENT
                METHOD</button>
            <button [disabled]="!review" (click)="gotoreview()"><span [ngStyle]="!review ?{'background-color':'lightgrey'}:{'background-color':'green'}" class="number">4</span>REVIEW
                ORDER</button>
            <button [disabled]="!confirm" (click)="gotoconfirm()"><span [ngStyle]="!confirm ?{'background-color':'lightgrey'}:{'background-color':'green'}" class="number">5</span>CONFIRMATION</button>
        </div>
        <div class="checkout-section">
            <div [ngStyle]="{'display':section.billing}" class="billing-address">
                <form appFormdirective [formGroup]="addressForm" (ngSubmit)="addressForm.valid && gotodelivery()">
                    <div class="row1">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="firstname">
                            </mat-form-field>
                            <p class="invalid-msg"
                            *ngIf="addressForm.get('firstname').touched && addressForm.get('firstname').invalid">
                            firstname
                            required</p>
                    </div>
                    <div class="row1">
                        
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="lastname">
                            </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('lastname').touched && addressForm.get('lastname').invalid">lastname
                            required</p>
                    </div>
                    <div class="row1">  
                        <mat-form-field appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput placeholder="Middle Name" formControlName="middlename">
                        </mat-form-field>
                    </div>
                    <div class="row1">
                        <mat-form-field appearance="outline">
                            <mat-label>Company</mat-label>
                            <input matInput placeholder="Company" formControlName="company">
                        </mat-form-field>
                    </div>
                    <div class="row1">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email">
                            </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('email').touched && addressForm.get('email').errors?.required">email
                            required</p>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('email').touched && !addressForm.get('email').errors?.required && addressForm.get('email').errors?.pattern">
                            email
                            not correct</p>
                    </div>
                    <div class="row1">
                            <mat-form-field appearance="outline">
                                <mat-label>Phone no</mat-label>
                                <input matInput placeholder="Phone no" formControlName="phone">
                            </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('phone').touched && addressForm.get('phone').errors?.required">
                            phoneno
                            required
                        </p>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('phone').touched && addressForm.get('phone').errors?.pattern">Invalid
                            phone number</p>
                        <p></p>
                    </div>
                    <div class="row2">
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                        <mat-select
                            formControlName="country" [disableOptionCentering]="true" placeholder="Country">
                            <mat-option *ngFor="let country of countries" [value]="country">
                                {{country}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('country').touched && addressForm.get('country').invalid">country
                            required</p>
                    </div>
                    <div class="row2">
                            <mat-form-field appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" formControlName="city">
                            </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('city').touched && addressForm.get('city').invalid">
                            city required</p>
                    </div>
                    <div class="row2">
                        <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select
                            formControlName="state" placeholder="State" [disableOptionCentering]="true">
                            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('state').touched  && addressForm.get('state').invalid">state required
                        </p>
                        <!-- <div *ngIf="openstate" class="dropdown">
                            <button *ngFor="let state of states" (click)="selectState(state)">{{state}}</button>
                        </div> -->
                    </div>
                    <div class="row2">
                      
                            <mat-form-field appearance="outline">
                                <mat-label>Zip/Postal Code</mat-label>
                                <input matInput placeholder="Zip/Postal Code" formControlName="zip">
                            </mat-form-field>
                        <p class="invalid-msg" *ngIf="addressForm.get('zip').touched && addressForm.get('zip').invalid">
                            zipcode required</p>
                    </div>
                    <div class="row3">
                            <mat-form-field appearance="outline">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" formControlName="address">
                            </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="addressForm.get('address').touched && addressForm.get('address').errors?.required">
                            address
                            required</p>
                        <p class="invalid-msg" *ngIf="addressForm.get('address').errors?.maxlength">address should not
                            exceed 20 characters</p>
                    </div>
                    <div class="navbtnpanel">
                        <button type="submit" class="nextbn"><fa-icon
                                icon="arrow-right"></fa-icon></button>
                            </div>
                </form>
            </div>
            <div [ngStyle]="{'display':section.delivery}" class="delivery-method">
                <form appFormdirective [formGroup]="deliveryForm" (ngSubmit)="deliveryForm.valid && gotopayment()">
                    <mat-radio-group aria-label="Select an option" formControlName="deliverymthd">
                        <mat-radio-button value="Free delivery" checked >Free Delivery</mat-radio-button>
                        <mat-radio-button value="Standard delivery">Standard Delivery</mat-radio-button>
                        <mat-radio-button value="Express delivery" >Express Delivery</mat-radio-button>
                      </mat-radio-group>
                    <div *ngIf="this.deliveryForm.get('deliverymthd').value=='Express delivery'" class="date-picker">
        
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input
                            matInput [min]="today" [matDatepicker]="picker"
                            [matDatepickerFilter]="filterWeekends"  formControlName="deliverydate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker (opened)="calOpened($event)" #picker [dateClass]="dateClass"></mat-datepicker>
                        </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="this.deliveryForm.get('deliverydate').touched && this.deliveryForm.get('deliverydate').errors?.required">
                            required date</p>
                            
                        <p class="invalid-msg" *ngIf="this.deliveryForm.get('deliverydate').value >=lastdate">
                            delivery date exceeds 60 days!
                        </p>
                        <!-- {{this.deliveryForm.get('deliverydate').errors |json}} -->
                        
                    </div>
                    
                    <div class="navbtnpanel">
                        <button class="nextbn" type="button" (click)="gotobilling()"><fa-icon
                                icon="arrow-left"></fa-icon></button>
                        <button class="nextbn" type="submit"><fa-icon icon="arrow-right"></fa-icon></button>
                    </div>
                    
                </form>
            </div>
            <div [ngStyle]="{'display':section.payment}" class="payment">
                <form appFormdirective [formGroup]="paymentForm" (ngSubmit)="paymentForm.valid && gotoreview()">
                    <div class="credit-card">
                        Credit-card
                    </div>
                    <div class="row1">
                        <!-- <input
                            [ngClass]="{'danger':(paymentForm.get('holdername').touched && paymentForm.get('holdername').errors)}"
                            type="text" placeholder="Card Holder Name" formControlName="holdername"> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Cardholder Name </mat-label>
                                <input matInput placeholder="Cardholder Name" formControlName="holdername">
                            </mat-form-field>    
                        <p class="invalid-msg"
                            *ngIf="paymentForm.get('holdername').touched && paymentForm.get('holdername').errors">
                            required
                            field</p>
                    </div>
                    <div class="row1">
    
                            <mat-form-field appearance="outline">
                                <mat-label>Card Number</mat-label>
                                <input matInput placeholder="Card Number " formControlName="cardnumber">
                            </mat-form-field>   
                        <p class="invalid-msg"
                            *ngIf="paymentForm.get('cardnumber').touched && paymentForm.get('cardnumber').errors">
                            required
                            field</p>
                    </div>
                    <div class="row2">
                        <mat-form-field appearance="outline">
                        <mat-label>Expiry Month</mat-label>

                        <mat-select
                        placeholder="Expiry Month" formControlName="expmonth" [disableOptionCentering]="true">
                        <mat-option *ngFor="let month of months" [value]="month">
                            {{month}}
                        </mat-option>
                    </mat-select>
                        </mat-form-field>
                        <p class="invalid-msg"
                            *ngIf="paymentForm.get('expmonth').touched && paymentForm.get('expmonth').errors">required
                            field</p>
                    </div>
                    <div class="row2">
                        <mat-form-field appearance="outline">
                            <mat-label>Expiry Year</mat-label>
                        <mat-select
                            placeholder="Expiry Year" formControlName="expyear" [disableOptionCentering]="true">
                            <mat-option *ngFor="let year of years" [value]="year">
                                {{year}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                        <p class="invalid-msg" *ngIf="paymentForm.get('expyear').touched && paymentForm.get('expyear').errors">required field</p>
                    </div>
                    <div class="row2">
                            <mat-form-field appearance="outline">
                                <mat-label>CVV</mat-label>
                                <input matInput placeholder="CVV" formControlName="cvv">
                            </mat-form-field>   
                        <p class="invalid-msg" *ngIf="paymentForm.get('cvv').touched && paymentForm.get('cvv').errors">
                            required field</p>
                    </div>      
                <div class="navbtnpanel">
                    <button class="nextbn" type="button" (click)="gotodelivery()"><fa-icon
                            icon="arrow-left"></fa-icon></button>
                    <button class="nextbn" type="submit"><fa-icon icon="arrow-right"></fa-icon></button>
                </div>
            </form>
            </div>
            <div [ngStyle]="{'display':section.review}" class="review">
                <div class="shopping-cart">
                    <div class="heading">
                        Shopping Cart
                    </div>
                    <div class="heading-panel">
                        <div class="column">Product</div>
                        <div class="column">Name</div>
                        <div class="column">Unit Price</div>
                        <div class="column">Quantity</div>
                        <div class="column">Total</div>
                    </div>
                    <ng-container *ngFor="let item of cartitems">
                        <div class="items-panel">
                            <div class="column"><img src={{item?.imgsrc}}></div>
                            <div class="column">{{item?.name}}</div>
                            <div class="column">${{item?.price}}</div>
                            <div class="column">1</div>
                            <div class="column">${{item?.price}}</div>
                        </div>
                    </ng-container>

                </div>
                <div class="billing-info">
                    <div class="heading">
                        Billing Information
                    </div>
                    <div class="address-panel">
                        <div class="column">
                            <p>Name</p>
                            <p>{{addressForm.controls['firstname'].value}}</p>
                        </div>
                        <div class="column">
                            <p>Email</p>
                            <p>{{addressForm.controls['email'].value}}</p>
                        </div>
                        <div class="column">
                            <p>Phone</p>
                            <p>{{addressForm.controls['phone'].value}}</p>
                        </div>
                        <div class="column">
                            <p>Country</p>
                            <p>{{addressForm.controls['country'].value}}</p>
                        </div>
                    </div>
                    <div class="address-panel">
                        <div class="column">
                            <p>City</p>
                            <p>{{addressForm.controls['city'].value}}</p>
                        </div>
                        <div class="column">
                            <p>State</p>
                            <p>{{addressForm.controls['state'].value}}</p>
                        </div>
                        <div class="column">
                            <p>Zip/postal Code</p>
                            <p>{{addressForm.controls['zip'].value}}</p>
                        </div>
                        <div class="column">
                            <p>Address</p>
                            <p>{{addressForm.controls['address'].value}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">
                        Delivery Information
                    </div>
                    <div>
                        {{this.deliveryForm.get('deliverymthd').value}} / <span
                            *ngIf="this.deliveryForm.get('deliverydate').value">Delivery in {{
                            this.deliveryForm.get('deliverydate').value  | date:'dd/MM/yyyy' }}</span>
                          
                    </div>
                </div>
                <div>
                    <div class="heading">
                        Payment information
                    </div>
                    <div>
                        Card number:{{paymentForm.controls['cardnumber'].value}}
                    </div>
                </div>
                <div class="grandtotal">Total:&nbsp;${{grandTotal}}</div>
                <div class="navbtnpanel">
                    <button class="nextbn" (click)="gotopayment()"><fa-icon icon="arrow-left"></fa-icon></button>
                    <button class="proceedbtn" (click)="openDialog()">Place Order</button>
                </div>
            </div>
            <div [ngStyle]="{'display':section.confirm}" class="confirm">
                <fa-icon icon="check-circle"></fa-icon>
                <h1>Congratulation! Your order has been processed</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus
                    a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus
                    libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.
                </p>
                <button [routerLink]="'/'">Return to Shop</button>
            </div>
        </div>

    </div>
</div>