.rotate{
    transform: rotateZ(180deg);
    // transition: all 0.5s ease;
}
fa-icon{
    transition: all 0.5s ease;
}
.navbar,.toprightnavbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    font-family: "Lato";
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    .atobtn,.toprightatobtn,.toprightheadbtn{

        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        align-items: center;
        cursor: pointer;
        color: #5992d6;
        font-weight: 700;
        font-family: "Lato";
        border: none;
        font-size: 16px;
        font-weight: 600;
        padding: 15px;
        background-color: white;
    }   
    .atobtn:hover,.toprightheadbtn:hover{
        color:#395D74;
    }
    .optionsWrapper,.toprightoptionsWrapper{
        
        position: relative;
        display: flex;
        column-gap: 0px;
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-top: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
        color: #5992d6;
        background-color: #fff;
        height: 53vh;
        box-sizing: border-box;
    
        .optionsContainer,.lastOptionsContainer{
            position: relative;
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            width: 302.8px;
            height: 53vh;
            color: #5992d6;
            overflow-y: auto;
            background-color: #fff;
            padding: 0px;
            border-right: 1px solid #EDEDEF;
            box-sizing: border-box;           
        }     
        ::-webkit-scrollbar {
            width: 5px;
            background-color: #EDEDEF;
          }
          
          /* Track */
          .optionsContainer ::-webkit-scrollbar-track {
            background: #EDEDEF;
            border-radius: 10px;
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background:  #5992d6; 
            border-radius: 3px;
          }
    
        .atobtn,.toprightatobtn{
            justify-content: space-between;
            width: 100%;
            background-color: #fff;
            font-size: 13px;
            font-weight: 400;
            padding: 5px;
            border-right:1px solid #EDEDEF;
            height: 26px;
            box-sizing: border-box;
            border-bottom: 1px solid #EDEDEF;
            fa-icon{
                font-size: medium;
            }
        }       
        .atobtn:hover,.toprightatobtn:hover{
            color:#395D74
        }
    }
}
.navbtn{
    cursor: pointer;
    color: #40513B;
    font-weight: bold;
    border: none;
    padding: 15px;
    background-color: white;
}
.navbtn:hover{
    background-color:#F8F8F8 ;
}
@media(min-width:300px) and (max-width:990px){
    .menubtn{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        color: #5992d6;
        display: block;
    }
    .toprightnavbar{
        padding: 0;
        button:is(:not(.toprightactivebtn)){
            img{
                display: none;
            }
        }
        .toprightactivebtn{
            background-color: #084368;
            padding:15px;
            color: white;
            flex-direction: row-reverse;
            justify-content: flex-end;
            border-radius: 5px;
            img{
                display: block;
            }
            fa-icon{
                display: none;
            }
        }
        .toprightactivebtn:hover{
            background-color: #084368;
            color: white;
        }
        .mobileview{
            button:is(:not(.currentbtn)){
                img{
                    display: none;
                }
            }
            .currentbtn{
                background-color: #084368;
                color: white !important;
                border-radius: 5px;
                img{
                    display: block;
                }
                fa-icon{
                    display: none;
                }
            }
        }
    }
    .toprightnavbar{
        padding: 5px;
        box-sizing: border-box;
    }
    .navbar,.toprightnavbar{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        .atobtn,.toprightheadbtn{
            width: 100%;
            border-bottom: 1px solid #EDEDEF;
        }
       
        .active{
            color:#395D74;
        }
        .closearrow{
            display: none;
         }
        .mobileview{
            width: 100%;
            .pushup{
                margin: -55px 0 0 0;
             }
            .optionsContainer{
                width: 100%;
                padding: 5px;
                background-color: white;
                box-sizing: border-box;
              
                .atobtn{
                    border-bottom: 1px solid #EDEDEF;
                }
                
                .currentbtn{
                    color:#395D74;
                    padding: 20px;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    fa-icon{
                            transform: rotate(180deg);
                    }
                }
                .active{
                    color:#395D74;
                    // color: red;
                }
        }
           
        }
        .optionsWrapper,.toprightallOptionsWrapper{
            display: none; 
        }
    }
    
}
@media(min-width:990px){
    .toprightnavbar{
        position: initial !important;
        height: inherit;
        box-sizing: border-box !important;
        column-gap: 5px;
        border-radius: 5px;
        background-color: #EDEDEF;
        padding: 5px;
        img{
            display: none;
        }
    }
    .toprightactivebtn{
        border-radius: 5px !important;
        background-color:#084368  !important;
        color: white !important;
        fa-icon{
            color: #5992d6;
        }
    }
    .allOptionsWrapper,.toprightallOptionsWrapper{   
        display: flex;
        flex-direction: column;
        position: absolute !important;
        top:50px;
        left: 41px;
        // setting the width of wrapper if the parent wrapper is not 100%
        // width: 93%;
        width:1180px;
        box-sizing: border-box;
        z-index:20;
        overflow-x: hidden;
        box-shadow: 0 14px 16px #00000040;
    }
    .toprightallOptionsWrapper{
        margin-top: 20px;
    }
    .toprightoptionsWrapper{
        height:auto !important;
        overflow: visible !important;
        padding-bottom: 30px;
    }
    .optionsHeader{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding-left: 10px;
        background-color: white;
        color:#5992d6;
        align-items: center;
        h2{
            padding: 5px;
            margin:0px;
        }
    }
    .toprightatobtn{
        border-right: none !important;
        border-bottom: none !important;
    }
    .lastOptionsContainer{
        margin-top: -40px;
        border-right: 0 !important;
        .toprightatobtn{
            color:#395D74;
        }
        
    }


    .menubtn{
        display: none;
    }
    .navbar,.toprightnavbar{
        flex-direction: row;
        
        .active{
            color:#395D74 ;
        }
    }
    .mobileview{
        display: none;
    }
    
}