<div [ngStyle]="navOpen && {'display':'flex'}" class="navbar" appOutsideClick (OutsideClick)="clickedOutside($event)">
    <ng-container *ngFor="let children of childrenArray[0];let i= index">
        <button class="atobtn" (click)="openOptions(i,children.uid)"
            [ngClass]="{'active':selectedIds[0]==children.uid}">{{children.title}}<fa-icon icon="chevron-down"
                [ngClass]="{'rotate':selectedIds[0]==children.uid && selectedIds[0] ,'closearrow':selectedIds[1]}"></fa-icon></button>

        <div  class="mobileview">
            <div class="optionsContainer" *ngIf="selectedIds[0]==children.uid" [ngClass]="{'pushup':selectedIds[1]}">

                <ng-container *ngFor="let child of childrenArray[1];let i= index">
                    <button (click)="onOpenChildren(1,i)" class="atobtn"
                        [ngClass]="{'currentbtn':selectedIds[1]==child.uid && !selectedIds[2]}">{{child.title}}<fa-icon
                            icon="chevron-right"></fa-icon></button>

                    <div *ngIf="selectedIds[1] && selectedIds[1]==child.uid " class="optionsContainers">

                        <ng-container *ngFor="let child of childrenArray[2];let i=index">
                            <button (click)="onOpenChildren(2,i)" class="atobtn"
                                [ngClass]="{'currentbtn':selectedIds[2]==child.uid && !selectedIds[3]}">{{child.title}}<fa-icon
                                    icon="chevron-right"></fa-icon></button>

                            <div *ngIf="selectedIds[2] && selectedIds[2]==child.uid" class="optionsContainer">

                                <ng-container *ngFor="let child of childrenArray[3];let i=index">
                                    <button (click)="(child.children.length>0) && onOpenChildren(3,i)" class="atobtn"
                                        [ngClass]="{'currentbtn':selectedIds[3]==child.uid}">{{child.title}}<fa-icon
                                            *ngIf="(child.children.length>0)" icon="chevron-right"></fa-icon></button>

                                    <div *ngIf="selectedIds[3] && selectedIds[3]==child.uid" class="optionsContainer">
                                        <button class="atobtn"
                                            *ngFor="let child of childrenArray[4];let i=index">{{child.title}}</button>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

            </div>
        </div>
    </ng-container>
    <div *ngIf="selectedIds[0]"  class="optionsWrapper">
        <div class="optionsContainer">
            <button (click)="onOpenChildren(1,i)" *ngFor="let child of childrenArray[1];let i= index" class="atobtn"
                [ngClass]="{'active':selectedIds[1]==child.uid}">{{child.title}}<fa-icon
                    *ngIf="!selectedIds[1] || selectedIds[1]==child.uid" icon="chevron-right"></fa-icon></button>
        </div>
        <div *ngIf="selectedIds[1]" class="optionsContainer">
            <button (click)="onOpenChildren(2,i)" class="atobtn" *ngFor="let child of childrenArray[2];let i=index"
                [ngClass]="{'active':selectedIds[2]==child.uid}">{{child.title}}<fa-icon
                    *ngIf="!selectedIds[2] || selectedIds[2]==child.uid" icon="chevron-right"></fa-icon></button>
        </div>
        <div *ngIf="selectedIds[2]" class="optionsContainer">
            <button (click)="(child.children.length>0) && onOpenChildren(3,i)" class="atobtn"
                *ngFor="let child of childrenArray[3];let i=index"
                [ngClass]="{'active':selectedIds[3]==child.uid}">{{child.title}}<fa-icon
                    *ngIf="(!selectedIds[3] || selectedIds[3]==child.uid) && (child.children.length>0)"
                    icon="chevron-right"></fa-icon></button>
        </div>
        <div *ngIf="selectedIds[3]" class="optionsContainer">
            <button class="atobtn" *ngFor="let child of childrenArray[4];let i=index">{{child.title}}</button>
        </div>
    </div>
</div>